<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CC2D</title>

    <!-- Bootstrap Core CSS -->
    <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/js/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/js/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12 noPadding">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> GeoViz
                    <div class="pull-right">
                        <label class="qlabel">Select quantities</label>
                        <i class="fa fa-ellipsis-v fa-lg separator" aria-hidden="true"></i>
                        <select id="quantities" onchange="getQuantity(this);">
                            <option value="-1" label="Select"></option>
                        </select>
                        <i class="fa fa-ellipsis-v fa-lg separator" aria-hidden="true"></i>
                        <i class="fa fa-upload clickable" onclick="uploadTexture()" title="Click to upload texture" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v fa-lg separator" aria-hidden="true"></i>
                        <!--<i class="fa fa-upload" aria-hidden="true"></i>-->
                        <input class="fileInput clickable" id="fileUpload" type="file">
                        <input type="file" id="textureFile" style="display:none">
                        <i class="fa fa-ellipsis-v fa-lg separator" aria-hidden="true"></i>
                        <div class="btn-group">
                            <!--<a class="btn btn-primary" href="#"><i class="fa fa-cog" aria-hidden="true"></i></i> </a>-->
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-cog fa-lg" title="Toggle options"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="twoD()"><i class="fa fa-bar-chart" aria-hidden="true"></i> 2D</a></li>
                                <li><a href="#" onclick="mapViz()"><i class="fa fa-globe" aria-hidden="true"></i> Maps</a></li>
                                <li><a href="#" onclick="threeD()"><i class="fa fa-bar-chart" aria-hidden="true"></i> 3D</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
			<div id="container" class="col-lg-10 "></div>
            <div class="col-lg-10" id="scatterDiv">
                <svg id="scatter" width="100%"></svg>
            </div>
            <div id="map" class="col-lg-10 "></div>
            <div id ="overlay" class="overlay"></div>
            <div id="legendDiv" class="col-lg-2">
                <span id="resizeBoxText" class="legendText">Drag the rectangle <i class="fa fa-arrows" aria-hidden="true"></i> to resize the markers</span>
                <div id="resizeBox"></div>
                <span class="legendText">Legend:</span>
                <div id="legendContainer">
                    <svg id="legend" width="100%">
                    </svg>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- jQuery -->
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/underscore.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/js/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/js/raphael/raphael.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.js"></script>
<script src="/js/sb-three.js"></script>
<script src="/js/chesapeakeBay.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt0_95IHvldkB24j0wUj6OX82WWyZUbzg&callback=initMap1"
        async defer ></script>
<script type="text/javascript" src="/js/CustomGoogleMapMarker.js"></script>
<script src="/js/constants.js"></script>
<script src="/js/three.js/build/three.min.js"></script>
<script src="/js/three.js/examples/js/controls/OrbitControls.js"></script>
<script src="/js/three.js/examples/js/Detector.js"></script>
<script>
    vizRouter("2D", true);
    $("#overlay").hide();
</script>
</body>

</html>