<!DOCTYPE html>
<html lang="en">

<head>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>

    <script src="/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt0_95IHvldkB24j0wUj6OX82WWyZUbzg&callback=initMap"
           async defer ></script>
    <script type="text/javascript" src="/js/CustomGoogleMapMarker.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/css/chesapeakeBay.css">
    <link rel="stylesheet" type="text/css" href="/css/map.css">
    <link rel="icon" href="favicon.png">
</head>
<body>
<div id="map"></div>
<div id ="overlay" class="overlay"></div>
<div class="container">
    <div id="myModal" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class = 'row'>
                        <div class="col-md-5">
                            Station ID: <label id="stationId"/>
                        </div>
                        <div class="col-md-6">
                                Chart Type:
                                <select id="chartType" style = "height: 25px;" onchange="getval(this);">
                                    <option value="scatter">Scatter Plot</option>
                                    <option value="line">Line Curve</option>
                                </select>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
                <div class="row modal-header" style="margin-left: 5px">
                    Date range : <input type="text" name="datefilter"/>
                </div>
                <div class="modal-body">
                   <!-- <div class = 'row modal-header' id = "monthButtons">
                    </div>-->
                    <div class="row modal-header" id="habitatDiv">
                    </div>
                    <div class = 'row'>
                        <div class="col-md-12" id="svgDiv">
                            <svg id="visualisation" width="400" height="400"></svg>
                        </div>
                        <!--<div class="col-md-2" id="habitatDiv">
                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/underscore.js"></script>
<script src="/js/chesapeakeBay.js"></script>
<script src="/js/scale.js"></script>
</body>

</html>